@font-face {
    font-family: "odin-font";
    src: url(./Norse-Bold.otf);
}

html, body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    background-image: url(./fuji-small.jpg);
    background-size: cover;
    font-family: odin-font;
    color: white;
    font-size: max(60px, 8vh);
    padding: 20px 0;
}

.banner {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 8, 51, 0.4);
    padding: 15px;
}

.banner > img {
    height: max(80px, 13vh);
}

.form-container {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.header, .submit {
    padding: 20px 50px;
}

.header {
    font-weight: bold;
}

form {
    padding: 40px 50px;
    background-color: rgb(198, 227, 253);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 5px 5px 16px rgba(54, 117, 199, 0.432);
}

form h1 {
    margin: 0;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row label {
    margin-bottom: 5px;
}

.form-row input {
    border: 1px solid rgb(6, 29, 56);
    border-radius: 5px;
    height: 30px;
}

.submit button {
    background-color: rgb(216, 125, 140);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
    border: 0;
    border-radius: 15px;
    box-shadow: 5px 5px 6px rgba(102, 75, 88, 0.795);
}

.submit p {
    font-size: 17px;
}

p a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}