@font-face {
    font-family: "odin-font";
    src: url(./Norse-Bold.otf);
}

:root {
    --logo-font-size: max(30px, 15px + 5vh);
    --logo-size: max(50px, 20px + 10vh);
}

body {
    background-color: rgb(240, 251, 255);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Column for mobile screens, set to row for desktop*/
.main-container {
    display: flex;
    flex-direction: column;
}

/*IMAGE CONTAINER*/
/*Sets the banner and logo for mobile*/
.image-container {
    background-image: url(./fuji-small.jpg);
    background-size: cover;
    display: flex;
    padding: calc(10px + 1.5vh) 0px;
}

.banner {
    background-color: rgba(0, 0, 92, 0.4);
    font-family: odin-font;
    font-size: var(--logo-font-size);
    color: white;
    flex: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.banner img {
    max-height: var(--logo-size);
}

/*FORM CONTAINER*/
.form-container {
    display: flex;
    flex-direction: column;
}

/*Header*/
.header {
    padding: 30px;
    font-size: 22px;
    font-weight: bold;
}

/*Form*/
form {
    padding: 30px;
    background-color: rgb(194, 226, 255);
    display: flex;
    flex-direction: column;
}

form h1 {
    margin-top: 0;
}

.names, .passwords {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    max-width: 230px;
}

.form-row {
    display: flex;
    flex-direction: column;
}