@font-face {
    font-family: "odin-font";
    src: url(./Norse-Bold.otf);
}

html {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    background-image: url(./fuji-small.jpg);
    background-size: cover;
    font-family: odin-font;
    color: white;
    font-size: max(60px, 8vh);
    padding: 20px 0;
}

.banner {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 15px;
}

.banner > img {
    height: max(80px, 13vh);
}

.form-container {
    flex: 5;
    display: flex;
    flex-direction: column;
}